.showcase {
  margin-top: 100px;
}
.logo {
  margin-top: 60px;
  margin-bottom: 10px;
}
.social-icon {
  font-size: 40px;
}
.issuu-icon {
  width: 70px;
  margin-top: 10px;
}
.github {
  margin-top: 30px;
}