<ion-view title="Fale Conosco">

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content>
	  <div class="card">
	  	 <div class="item item-divider">
	  	 	Atendimento Telefônico (156)
	  	 </div>
	  	 <div class="item item-text-wrap">
	  	 	<strong>Horário de funcionamento</strong>: De 7 às 19h.
Atendimento 24h para os seguintes serviços: tapa-buraco, poluição sonora, turismo e cultura, meio ambiente.
	  	 <br />
	  	 Caso você esteja fora de Belo Horizonte, ligue (31) 3429-0405 (para outras cidades)
	  	 </div>
	  	 <div class="item item-divider">
	  	 	Atendimento ao Cidadão
	  	 </div>
	  	 <div class="item item-text-wrap">
	  	 Solicitações de serviços como: poda de árvore em áreas públicas, fiscalizações, licenciamento, serviços relativos às zoonoses dentre outros. Acesse o link e conheça todos os serviços que podem ser solicitados via SACWeb.
	  	 <br />
	  	 <strong><a href="http://portal6.pbh.gov.br/sacweb/work/Ctrl/CtrlSolicitacao?acao=8">Acesse</a></strong>
	  	 </div>
	  	 <div class="item item-divider">
	  	 	Ouvidoria
	  	 </div>
	  	 <div class="item item-text-wrap">
	  	 Caso você queira solicitar informações, dar sugestões, fazer elogios, reclamações ou denúncias, e ainda, verificar o andamento da sua manifestação, fale com a Ouvidoria.
	  	 <br />
	  	 <strong><a href="https://ouvidoriageral.pbh.gov.br/tag/taghub140315.dll/EXEC">Acesse</a></strong>
	  	 </div>
	  </div>
	</ion-content>

</ion-view>