<ion-view title="Issuu">

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="post in lista" class="post">
				<div class="card">
					<a href="http://issuu.com/prefeituradebh/docs/{{post.docname}}"><img src="http://image.isu.pub/{{post.documentId}}/jpg/page_1_thumb_large.jpg"  alt="{{post.documentId}}"/></a>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>

</ion-view>