<ion-view title="Principal">

	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content>
	  <div class="jumbotron">
	   <div class="card">
		  <div class="item item-divider">
		    O que é?
		  </div>
		  <div class="item item-text-wrap">
		    <p> O MaisBH é um projeto que surgiu durante o hackthon do GDG DevFest,tem como proposito o desenvolvimento de um aplicavito para tornar a cidade mais inteligente,viabilizando uma maior interação do cidadão, com isso aumentando o papel do cidadão em sua cidade, gerando responsabilidade social,tornando mais ativo na comunidade de belo horizonte e tendo mais informação da mesma. </p>
		  </div>
		</div>

	  </div>
	</ion-content>

</ion-view>