<ion-side-menus enable-menu-with-back-views="true">

	<ion-side-menu side="left" expose-aside-when="large">

        <ion-header-bar class="bar-assertive">
            <h1 class="title">Mais BH!</h1>
        </ion-header-bar>

		<ion-content class="has-header">

			<div class="list">

				<a class="item item-icon-left" menu-close href="#/app/main">
					<i class="icon ion-ios-home"></i>
					Main
				</a>
				<a class="item item-icon-left" menu-close href="#/app/twitter">
					<i class="icon ion-social-twitter"></i>
					Twitter
				</a>
				<a class="item item-icon-left" menu-close href="#/app/instagram">
					<i class="icon ion-social-instagram"></i>
					Instagram
				</a>
				<a class="item item-icon-left" menu-close href="#/app/facebook">
					<i class="icon ion-social-facebook"></i>
					Facebook
				</a>
				<a class="item item-icon-left" menu-close href="#/app/youtube">
					<i class="icon ion-social-youtube"></i>
					Youtube 
				</a>
				<a class="item item-icon-left" menu-close href="#/app/issuu">
					<img src="../img/issu.png" width="30px" height="30px" style="position:absolute;left:11px;">
					Issuu 
				</a>
				<a class="item item-icon-left" menu-close href="#/app/fale">
					<i class="icon ion-ios-chatbubble"></i>
					Fale Conosco
				</a>
			</div>

		</ion-content>
	</ion-side-menu>

	<ion-side-menu-content>
		<ion-nav-bar class="bar bar-stable">
			<ion-nav-back-button class="button-clear">Back</ion-nav-back-button>
		</ion-nav-bar>

		<ion-nav-view name="content" animation="slide-right-left"></ion-nav-view>
	</ion-side-menu-content>

</ion-side-menus>