/* Empty. Add your own CSS if you like */

.video h2{
	font-weight: bold;
	white-space: initial;
	overflow: hidden;
}

.video img {
	max-width: 100%;
}

.interna {
	max-width: 100% ;
	min-width: 100% ;
}
.post p{
	white-space: initial;
	overflow: hidden;
}
.semBorda{

	border:white solid 0px;
}